html {
    font-family: "PT Sans";
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

h1{
    text-align: center;
    padding: 80px 0 40px;
}

.addWishForm {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #bababa;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 20px 35px;
    width: 50%;
}

.addWishForm__textBox {
    border: 1px solid #bababa;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 12px;
    margin-top: 20px;
    padding: 8px 12px;
    transition: box-shadow 500ms;
}

.addWishForm__textBox:focus {
    box-shadow: 1px 1px 10px 3px rgba(0,0,0,0.1);
}

.addWishForm__textBox_wish {
    width: 50%;
}

.addWishForm__textBox_description {
    flex: 1 0 auto;
}

.addWishForm__select {
    flex: 1 0 auto;
    border: 1px solid #bababa;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 20px;
    margin-right: 12px;
}

.addWishForm__button {
    background: blanchedalmond;
    border: 1px solid blanchedalmond;
    border-radius: 5px;
    color: #333;
    font-size: 16px;
    margin-top: 20px;
    padding: 0 20px;
    transition: border 500ms;
}

.addWishForm__button:hover{
    border: 1px solid #333;
}

.withList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3%;
    list-style: none;
    margin-top: 32px;
    width: 50%;
}
