html, body {
    font-family: "Lato";
}

:root {
    --colorPrimary_dark: teal;
    --colorPrimary_light: cadetblue;
    --colorSecondary_dark: indianred;
    --colorSecondary_light: salmon;
    --colorComplementary: antiquewhite;

    --transition-speed: 300ms;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 8px 1px rgba(0,0,0,0.12);;
    height: 70px;
    padding: 0 5%;
}

.navigation__projectName{
    flex: 1 0 auto;
    text-align: center;
    font-family: 'Averia Serif Libre', cursive;
    font-size: 3em;
}

.navigation__button {
    width: 125px;
}

.content {
    display: flex;
    align-items: flex-start;
    //justify-content: space-evenly;
    height: 100%;
    width: 100%;
}

.projectName {
    text-align: center;
    padding: 80px 0 40px;
    font-family: 'Averia Serif Libre', cursive;
    font-size: 3em;
}

.form {
    display: flex;
    flex-wrap: wrap;
    background: white;
    box-shadow: 0 0 12px 3px #0000001a;
    box-sizing: border-box;
    column-gap: 20px;
    padding: 20px 35px;
}

.loginForm {
    margin: 60px auto;
    min-width: 300px;
    width: 50%;
    max-width: 550px;
}

.loginForm__textBox {
    display: block;
    margin-top: 20px;
}

.loginForm__button {
    display: block;
    margin-top: 20px;
}

.addWishForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    box-shadow: 0 0 12px 3px #0000001a;
    box-sizing: border-box;
    padding: 20px 35px;
    margin: 30px auto 0;
    width: 90%;
}

.addWishForm__select {
    flex: 1 0 auto;
    border: none;
    border-bottom: 1px solid #bababa;
    border-radius: 4px 4px 0 0;
    font-size: 16px;
}

.addWishForm__button_solid {
    margin-top: 8px;
    margin-left: auto;
}

.wishes {
    margin: 0 auto 64px;
    width: 90%;
}

.tabs {
    list-style: none;
    margin-top: 32px;
}

.tab {
    display: inline-block;
}

.tabButton {
    background: transparent;
    border-top: none;
    border-right: none;
    border-bottom: 2px solid transparent;
    border-left: none;
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px 20px;
}

.tabButton_active {
    border-bottom: 2px solid cornflowerblue;
}

.withList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 12px 32px;
    list-style: none;
    margin-top: 12px;
    width: 100%;
}

.withList__item {
    padding: 20px 0;
    height: 220px;
}
